<div id="<%= dom_id evento %>">
  <div>
    <strong>Titulo:</strong>
    <%= evento.titulo %>
  </div>

  <div>
    <strong>Descripcion:</strong>
    <%= evento.descripcion %>
  </div>

  <div>
    <strong>Fecha:</strong>
    <%= evento.fecha %>
  </div>

  <div>
    <strong>User:</strong>
    <%= evento.user_id %>
  </div>

</div>
